<div class="containerForm">
  <form>
    <div class="row" style="  margin-left: 15px;margin-right: 15px;   ">
      <div class="col">
        <div>

          <div class="row">
            <div class="col-md-6 ">
              <div class="form">
                <label class="config--label">
                  Fecha de Contacto
                </label>
                <!-- <mat-label> Fecha de Contacto</mat-label> -->
                <mat-form-field class="config--input" appearance="outline">
                  <input matInput [matDatepicker]="picker">

                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

              </div>


            </div>

            <div class="col-md-6">
              <div class="form input--flex">

                <button mat-raised-button color="primary" class="login-form-field">
                  <span class="label-white">Enviar Carta de Aprobación</span>
                </button>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form">
                <label class="config--label">Resultado Contacto</label>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Cliente Contactado</mat-radio-button>
                  <mat-radio-button value="2">Cliente No contactado</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>



            <div class="col">
              <div class="form input--flex">
                <label class="config--label" for="">
                  Detalle Resultado Contacto </label>

                <mat-form-field class="config--input " appearance="outline">
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>




          </div>


          <div class="row">

            <div class="col-md-6">
              <div class="form">
                <label class="config--label" for=""> Celular Cliente</label>
                <mat-form-field class="config--input" floatLabel="always" appearance="outline">
                  <input matInput type="text">
                </mat-form-field>
              </div>
            </div>



            <div class="col-md-6">
              <div class="form input--flex">
                <label class="config--label" for="">Email Cliente</label>
                <mat-form-field class="config--input" appearance="outline">

                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              </div>
            </div>




          </div>

          <div class="row">

            <div class="col">
              <div class="form">
                <label class="config--label" for="">Canal de Envío de Documento</label>
                <mat-form-field class="config--input" appearance="outline">
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>


            <div class="col">
              <div class="form input--flex">
                <label class="config--label" for=""> Fecha programación </label>
                <mat-form-field class="config--input" appearance="outline">
                  <input matInput [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>




          </div>

          <div class="row">
            <div class="col">

              <div class="form">

                <label class="config--label" for="">Fecha de Proximo Contacto</label>
                <mat-form-field class="config--input" appearance="outline">
                  <!-- <mat-label>Choose a date</mat-label> -->
                  <input matInput [matDatepicker]="picker3">
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker3">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

              </div>


            </div>

            <div class="col">
            </div>


          </div>


          <div class="row">

            <div class="col">
              <label class="config--label">Codigo y Nombre del proyecto </label>
              <mat-form-field class="config--large" appearance="outline">
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
            </div>

          </div>

          <div class="row">

            <div class="col">
              <div class="form">
                <label class="config--label">Constructora</label>
                <mat-form-field class="config--input" appearance="outline">
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>






            <div class="col">
              <div class="form input--flex">
                <label class="config--label">Segundo Prescriptor</label>
                <mat-form-field class="config--input" appearance="outline">
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>




          </div>


          <div class="row">

            <div class="col">
              <div class="form">
                <label for="">Observaciones </label>
                <div class="form">
                  <mat-form-field style="width: 100%;" floatLabel="always" appearance="outline">

                    <textarea matInput></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>

          </div>


          <div class="row">


            <div class="col">
              <div class="form centerFlex">

                <button mat-raised-button color="primary" class="login-form-field">
                  <span class="label-white">Editat</span>
                </button>


                <button mat-raised-button color="primary" class="login-form-field">
                  <span class="label-white">Guardar</span>
                </button>

                <button mat-raised-button color="primary" class="login-form-field">
                  <span class="label-white">Avanzar</span>
                </button>

                <button mat-raised-button color="primary" class="login-form-field">
                  <span class="label-white">Salir</span>
                </button>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </form>
</div>
