.form {
  @media(max-width: 767px) {
    margin-bottom: 10px;
  }
  /* &--error {
    input,
    select,
    textarea {
      border-bottom: 2px solid $red-error !important;
    }
  }
  .error-message {
    color: $red-error !important;
    font-size: 16px !important;
  } */
}
.example-header {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.example-header-label {
  flex: 1;
  height: 1em;
  font-weight: 500;
  text-align: center;
}



.form{
  margin-bottom: 5px;
}

.centerFlex{

  display: flex;
  justify-content: center;
    /* align-items: center; */

}

.endFlex{

  display: flex;
  justify-content: end;
  align-items: center;
  /* align-content: center; */
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.containerForm{
  background-color: #EEEEEE;

}




/* .mat-form-field {

  background-color: white;
} */
::ng-deep
.mat-form-field-appearance-outline
 .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  /* border-color: 1px solid black; */
}


&.txt--label {
  font-size: 1rem;
  line-height: 3rem;
  /* font-family: $font-medium; */
}

.config--label{
  width: 230px;
  /* width: 36%; */
}

.config--input{
  width: 250px;
  /* width: 40%; */

  @media(max-width: 976px) {
    width: 100%;
  }

}

.config--large{

  width: calc(100% - 230px );
}


.input--flex{
  display: flex ;
  justify-content: end;
}
