<!-- <p>home-portada works!</p> -->

<app-picture-portada></app-picture-portada>

<main class="main">
  <div class="containerx">
    <h2 class="main-title">
      New arrivals for you
    </h2>
    <section class="container-products">

      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto6.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"> Sillon oficina1</h3>
          <span class="product__price">S/100</span>
        </div>
        <i class="product__icons fa-solid fa-cart-shopping"></i>
      </div>

      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto2.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina2</h3>
          <span class="product__price">S/200</span>
        </div>
        <i class="product__icons fa-solid fa-cart-shopping"></i>
      </div>
      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto3.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina3</h3>
          <span class="product__price">S/300</span>
        </div>
        <i class="product__icons fa-solid fa-cart-shopping"></i>
      </div>
      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto4.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina4</h3>
          <span class="product__price">S/400</span>
        </div>
        <i class="product__icons fa-solid fa-cart-shopping"></i>
      </div>

    </section>
  </div>
</main>

<footer class="main-footer">
  <div class="footer__section">
    <h2 class="footer__title">About Us</h2>
    <p class="footer__txt">Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget
      consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
  </div>
  <div class="footer__section">
    <h2 class="footer__title">Location :</h2>
    <p class="footer__txt">0926k 4th block building, king Avenue, New York City.</p>
    <h2 class="footer__title">Contact :</h2>
    <p class="footer__txt">Phone : +121 098 8907 9987</p>
    <p class="footer__txt">Email : info@example.com</p>

  </div>
  <div class="footer__section">
    <h2 class="footer__title">Quick Links</h2>
    <a href="" class="footer__link">Home</a>
    <a href="" class="footer__link">About</a>
    <a href="" class="footer__link">Error</a>
    <a href="" class="footer__link">Shop</a>
    <a href="" class="footer__link">Contact Us</a>
  </div>
  <div class="footer__section">
    <h2 class="footer__title">Sign up for your offers</h2>
    <p class="footer__txt">By subscribing to our mailing list you will always get latest news and updates from us</p>
    <input type="email" class="footer__input" placeholder="Enter your email">
  </div>

  <p class="copy">
    © 2018 Goggles. All Rights Reserved | Design by W3layouts
  </p>
</footer>
