<!-- <p>home-portada works!</p> -->

<app-picture-portada></app-picture-portada>

<main class="main">
  <div class="containerx">
    <h2 class="main-title">New arrivals for you</h2>
    <section class="container-products">

      <div class="product">
        <img src="" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"></h3>
          <span class="product__price"></span>
        </div>
      </div>
      <div class="product">
        <img src="" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"></h3>
          <span class="product__price"></span>
        </div>
      </div>
      <div class="product">
        <img src="" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"></h3>
          <span class="product__price"></span>
        </div>
      </div>
      <div class="product">
        <img src="" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"></h3>
          <span class="product__price"></span>
        </div>
      </div>
    </section>
  </div>
</main>
