<div id="slider" class="slider" #slider>
  <div class="wrapper">
    <div  class="slides" #slides>
      <span class="slide" #slide> <img [src]="imagenes[0]" alt=""></span>
      <span class="slide" #slide><img [src]="imagenes[1]" alt=""></span>
      <span class="slide" #slide><img [src]="imagenes[3]" alt=""></span>
      <!-- <span class="slide" #slide><img [src]="imagenes[4]" alt=""></span> -->

    </div>
  </div>
  <a id="prev" class="control prev" #prev></a>
  <a id="next" class="control next" #next></a>
</div>
