<style>
    .ContenedorPrincipal {
        width: 100%;
        height: 100%;
    }
    
    @media (max-width: 1370px) {
        .ContenedorPrincipal {
            padding: 20px 0px 18px 0px;
        }
    }
    
    @media (min-width: 1371px) {
        .ContenedorPrincipal {
            padding: 20px 50px 21px 50px;
        }
    }
    
    .contain {
        border: 1px solid #b7bbc0;
        background-color: white;
        width: 95%;
        height: 100%;
        padding: 25px 0;
    }
    
    .contenedorCampana {
        width: 100%;
        background-color: white;
        height: 100%;
    }
    
    mat-sidenav-container,
    mat-sidenav-content {
        width: 100%;
        height: 100vh;
        border-color: #f2f2f2;
        border-width: 5px;
        background-color: #b7bbc0;
    }
</style>


<body>
    <app-nav-menu></app-nav-menu>


    <!-- <div  class="container " style="height: 90%;">
        <router-outlet></router-outlet>
    </div> -->
    <mat-sidenav-container>
        <mat-sidenav-content #mainContent>
            <div class="ContenedorPrincipal" fxLayout fxLayoutAlign="center center">
                <div class="contain" fxLayout="column" fxLayoutAlign="start center">

                    <div class="contenedorCampana">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>



</body>