<div id="cabecera" class="cabecera">

  <div style="flex:20% ;">
    <!-- <img style="max-width:100px ;border-radius: 50%" src="../../../../assets/images/mandalorian.jpg"
      alt="presentation"> -->
  </div>
  <div style="flex: 80%;  text-align:center">
    <h1>All-in-One</h1>
  </div>
  <div style="flex:20% ;">
    Buscar: <input style="border-radius:30px ;" type="text" name="" id="">
  </div>

</div>

<div class="container_flex">
  <div id="sideLeft" class="sideLeft">
    <h2>about me</h2>
    <h5>photo of me</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
    Size design 1
  </div>

  <div id="Main" class="main">
    <h2>Title Heading</h2>
    <h5>Title description</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    Size design 2
  </div>

  <div id="sideRigh" class="sideRight">
    Size design 3
  </div>
</div>
