<main class="main">
  <div class="container-main">
    <h2 class="main-title">
      New arrivals for you
    </h2>
    <section class="container-products">

      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto6.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title"> Sillon oficina1</h3>
          <span class="product__price">S/100</span>
        </div>
        <a class="product__details">Ver Detalles</a>
        <a  class="product__icon_call" href={{url}}>
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <!-- <i class="product__icons fa-solid fa-cart-shopping"></i> -->
      </div>

      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto2.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina2</h3>
          <span class="product__price">S/200</span>
        </div>
        <a class="product__details">Ver Detalles</a>
        <a  class="product__icon_call" href={{url}}>
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto3.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina3</h3>
          <span class="product__price">S/300</span>
        </div>
        <a class="product__details">Ver Detalles</a>
        <a  class="product__icon_call" href={{url}}>
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
      <div class="product">
        <img [src]="'assets/imagesMain/listProducts/producto4.jpg'" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Sillon oficina4</h3>
          <span class="product__price">S/400</span>
        </div>
        <a class="product__details">Ver Detalles</a>
        <a  class="product__icon_call" href={{url}}>
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>

    </section>
  </div>
</main>
