<p>Listado de Usuarios</p>

<!-- appearance="fill" -->
<mat-form-field>
  <mat-label>Select an option</mat-label>

  <mat-select (selectionChange)="OnChangeEstados($event)" [(ngModel)]="selectedCar" [(value)]="filtroEstado">
    <mat-option value="1">Habilitado</mat-option>
    <mat-option value="0">Desabilitado</mat-option>
  </mat-select>
</mat-form-field>


<!-- ------------------------------------------------------------------------- -->


<div class="mat-elevation-z8">
  <table id="tbUsuarios" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="usuarioId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> usuarioId. </th>
      <td mat-cell *matCellDef="let element"> {{element.usuarioId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef> nombreCompleto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="credencial">
      <th mat-header-cell *matHeaderCellDef> credencial </th>
      <td mat-cell *matCellDef="let element"> {{element.credencial}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<hr>

<div fxFlex="25" *ngIf="Panel != null">
  <mat-tab-group>
    <div *ngFor="let item of Panel">
      <mat-tab label="{{item.Title}}">
        <table class="kpi" cellspacing="9">
          <tr>
            <th *ngFor="let header of item.Header">
              {{header}}
            </th>
          </tr>
          <tr *ngFor="let rows of item.row">
            <td *ngFor="let item of rows">

              {{item}}
            </td>
          </tr>

        </table>

      </mat-tab>
    </div>
  </mat-tab-group>
</div>