<!-- <p>menu works!</p> -->


<nav class="nav">

  <div class="nav_container">
    <h1 class="nav_logo">CristhianCH.</h1>

    <label for="menu" class="nav_label">
      <img src="../../../../assets/imagesSvg/menu.svg" class="nav_img" alt="">
    </label>
    <input type="checkbox" id="menu" class="nav_input">

    <div class="nav_menu">
      <a href="" class="nav_item"> Inicio</a>
      <a href="" class="nav_item">Acerca de</a>
      <a href="" class="nav_item">Contacto</a>

      <div>
        <button mat-raised-button color="primary" class="login-form-field"
         (click)="logOut()">
          <span class="label-white">LogOut</span>
        </button>
      </div>
    </div>


  </div>
</nav>
