<div style="font-size:5px;text-align: center;margin-top: 10px;">
  <h1>Catálogo de Productos</h1>
</div>
<div>


  <div class="containers">

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <div fxLayoutAlign="center center">
        <button style="width: 100%;" (click)="CrearProduct()" mat-raised-button>Crear Producto</button>
      </div>

      <!-- <div fxFlex="100%"> -->
      <mat-form-field style="width: 100%;" floatLabel="always" appearance="outline">
        <mat-label>Buscar Producto</mat-label>
        <input [(ngModel)]="filtro" (ngModelChange)="inputChange($event)" matInput type="text"
          placeholder="Nombre de Producto">
      </mat-form-field>
      <!-- </div> -->
    </div>



  </div>







  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false"
      [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
    </mat-paginator>

    <perfect-scrollbar style="height: calc(100vh - 300px);">
      <div fxLayoutAlign="center" style="padding-top: 10px;" class="containers" fxLayout="row wrap">

        <div #formatImagen *ngFor="let viewModel of  ListProduct">
          <div class="elemento" fxLayout="column" fxLayoutAlign="center center">

            <div fxFlex="70">
              <img style="width: 100%;height: 100%;" [src]="viewModel.pathImage" alt="" />


            </div>

            <div fxFlex="10" class="elemento__titulo">
              {{viewModel.name}}
            </div>
            <div fxFlex="10" class="elemento__fecha">
              S/{{viewModel.price}}
            </div>

            <div fxFlex="10" class="elemento__notas" fxLayout fxLayoutAlign="space-between center">
              <button mat-icon-button (click)="update(viewModel)">
                <mat-icon color="primary">update</mat-icon>
              </button>

              <button mat-icon-button (click)="delete(viewModel)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>



</div>
