
img {
  display: block;
  width: 100%;
}


.main {
  padding: 0 20px;
  margin-bottom: 20px;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.product {
  border: 1px solid #CCC;
  padding: 20px;
  text-align: center;
  position: relative;
}

.product::before {

  content: 'New';
  background-color: #FF4E00;
  color: white;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 8px;
  right: -8px;
  transform: rotate(-90deg);
}


.product__title {
  text-align: center;
}

.product__price {
  font-weight: bold;
  color: #FF4E00
}

.product__icons {
  /* display: block; */
  margin-top: 10px;
}

.product__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.product__details{
  padding: 10px;
  text-decoration: none;
  color: white;
  background: #767676;
  margin-top: 10px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.product__details:hover{
  background: #FF4E00;
  cursor: pointer;
}


/* media 768 considerar */

@media screen and (min-width:1024px) {
  .container-main {
    width: 1000px;
    margin: auto;
  }

  .container-products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .product__img {
    height: 210px;
  }


}

@media screen and (min-width:1280px) {
  .container-main {
    width: 1200px;

  }
}


@media screen and (min-width:1600px) {
  .container-main {
    width: 1500px;

  }

  .product__img {
    height: 250px;
  }
}
